@font-face {
    src: url(fonts/Montserrat-Light.ttf);
    font-family: Montserrat;
}

@font-face {
    src: url(fonts/Quicksand-Light.ttf);
    font-family: Quicksand;
}

nav {

    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    box-sizing: border-box;

}

*{

    font-family: Montserrat, Quicksand;
}

.menu {

    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    width: 99%;
    gap: 1.25rem;
}

a {
    
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: lighter;
    border: 2px solid white;
    padding: 1.25ch 2.5ch;
    border-radius: 1.7ch;
    transition: filter .45s, transform .45s, opacity .45s;
    will-change: background;
    opacity: .6;
}

a:hover {

    filter: brightness(125%);
    opacity: 1;
    box-shadow: 0 0 4px #ae00ff, 0 0 40px rgba(255, 255, 255, 0.5);
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);

}

a:active {

    transition: transform .1s;
    transform: scale(.95);
}

body {

    background: linear-gradient(91deg, rgb(25, 25, 25) 25%, rgb(40, 40, 40) 100%);
}

h1 {
    position: relative;
    font-family: Montserrat;
    color: white;
    font-size: 7.75em;
    text-align: center;
}